<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:include="layout :: page(curr='home')"> 
<!-- 	this is the param wich is like id of the page -->
<head>
<title></title>
</head>
<body>

	<div th:fragment="title">
		<h1>
			<span> Home </span> <small> Homepage </small>
		</h1>
	</div>

	<div th:fragment="content" style="height: 100%">
		<!-- 		<h1>Home page</h1> -->
		<h1>Cinema</h1>
	</div>
	<div th:fragment="scripts">
		<script>
		
// 		JQUERY n stuff goes here
		
// 		$(function() {
// 			// 6 create an instance when the DOM is ready
// 			$.jstree.defaults.core.themes.variant = "large";
// 			$('#jstree').jstree({
// 				"core" : {

// 					"themes" : {
// 						"variant" : "large"
// 					},
// 					"data" : {
// 						'url' : 'http://localhost:8088/getHi',
// 						"dataType" : "json"
// 					}
// 				},
// 				"checkbox" : {
// 					"keep_selected_style" : false
// 				},
// 				"plugins" : [ "wholerow", "checkbox" ]
// 			});
// 			// 7 bind to events triggered on the tree
// 			$('#jstree').on("changed.jstree", function(e, data) {
// 				debugger;
// 				console.log(data.selected);
// 			});

// 			// 8 interact with the tree - either way is OK
// 			$('button')
// 					.on(
// 							'click',
// 							function() {
// 								$
// 										.ajax({
// 											url : 'http://localhost:8088/getHi2',
// 											type : 'GET',
// 											dataType : 'json',
// 											success : function(data) {
// 												$('#jstree').jstree(true).settings.core.data = data;
// 												$('#jstree').jstree(true)
// 														.refresh();
// 											},
// 											error : function(request, error) {
// 												alert("Request: "
// 														+ JSON
// 																.stringify(request));
// 											}
// 										});
// 							});
// 		});
		</script>
	</div>
</body>
</html>




