body {
	text-align: center;
	/* This is a hack for older browsers to center the page */
}

.centerLayout {
	/* We use a class for this since we're using it in several places */
	margin: 0 auto; /* This centers the page in modern browsers */
	text-align: left;
	/* This is a hack for older browsers to center the page */
	width: 960px; /* This sets our total page width */
}

#navigation li {
	float: left; /* Floating also makes our navigation display in a line */
}

#content {
	float: left; /* This causes the content to move to the left */
	width: 700px;
	/* We need to set the width whenever we float an element */
}

#sidebar {
	float: left; /* This causes the sidebar to move to the left */
	width: 260px;
	/* We need to set the width whenever we float an element */
}

#footer {
	clear: both;
	/* This makes sure that the footer clears both the sidebar and content floats */
}